<html>
    <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <title>Lista dos Produtos</title>
    </head>
    <body>
    <h1>Listagem de produtos</h1>
    <div>
     <table width="40%">
     <tr align="center">
     <td>${produto.descricao}</td>
     <td>${produto.foto}</td>
     <td>${produto.codCategoria}</td>
     <td>${produto.preco}</td>
     </tr>
     </table>
     </div>
    </body>

    
</html>